{% extends 'base.html.twig' %}

{% block title %}Projects{% endblock %}

{% block body %}
    <div class="container text-center pt-2">
        <h4>La liste de nos projets en cours, à venir, etc</h4>
    </div>
    <div class="container d-flex px-4 my-4 flex-wrap justify-content-center">

        {% for project in projects %}
            <figure class="snip0015 m-2 shadow-lg">
                <img src="{{ asset('assets/images/lehavre.jpg') }}" alt="sample38"/>
                <figcaption>
                    <h2>{{ project.title }}</h2>
                    <a href="#"></a>
                </figcaption>
            </figure>
        {% endfor %}

    </div>
{% endblock %}

