{% extends 'base.html.twig' %}

{% block title %}Évènements{% endblock %}

{% block body %}
    <div class="container text-center pt-2">
        <h4 class="">Les évènements du moment et à venir.</h4>
    </div>

    <div class="container d-flex px-4 my-2 flex-wrap justify-content-center">
        {% for event in events %}
            <div class="card m-4" style="width: 18rem;">
                <img src="https://picsum.photos/200" class="card-img-top" alt="...">
                <div class="card-body shadow-lg">
                    <h5 class="card-title">{{ event.title }}</h5>
                    <p class="card-text">{{ event.content }}</p>
                    <a href="#" class="btn btn-primary">En savoir plus</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
