{% extends 'base.html.twig' %}

{% block title %}Évènements{% endblock %}

{% block body %}
    <div class="container text-center pt-2">
        <h4 class="">Les évènements du moment et à venir.</h4>
    </div>

    <div class="container d-flex px-4 my-2 flex-wrap justify-content-center">
        <div class="card m-4" style="width: 18rem;">
            <img src="https://picsum.photos/200" class="card-img-top" alt="...">
            <div class="card-body shadow-lg">
                <h5 class="card-title">Exposition universelle locale</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto maxime modi,
                    necessitatibus nulla obcaecati placeat praesentium quibusdam recusandae repellendus vitae.</p>
                <a href="#" class="btn btn-primary">En savoir plus</a>
            </div>
        </div>

        <div class="card m-4" style="width: 18rem;">
            <img src="https://picsum.photos/200" class="card-img-top" alt="...">
            <div class="card-body shadow-lg">
                <h5 class="card-title">Foire au poisson</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus atque corporis
                    distinctio eum incidunt iure maxime nulla obcaecati totam, voluptatum!</p>
                <a href="#" class="btn btn-primary">En savoir plus</a>
            </div>
        </div>

        <div class="card m-4" style="width: 18rem;">
            <img src="https://picsum.photos/200" class="card-img-top" alt="...">
            <div class="card-body shadow-lg">
                <h5 class="card-title">Sightseeing</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid cumque
                    exercitationem fuga laudantium non nostrum numquam officiis reiciendis vel voluptatum.</p>
                <a href="#" class="btn btn-primary">En savoir plus</a>
            </div>
        </div>
    </div>
{% endblock %}
