{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h2>Editer l'évènement</h2>
        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-4">
                {{ form_row(form.Title) }}
            </div>
        </div>
            {{ form_widget(form) }}
        <button class="btn btn-primary">Editer</button>
        {{ form_end(form) }}
    </div>
{% endblock %}



