{% extends 'base.html.twig' %}

{% block title %}Who are we ?{% endblock %}

{% block body %}
    <div class="container text-center pt-5 w-50">
        <h2 class="p-4">Une explication fournie sur nos objectifs.</h2>
        <ul class="list-group shadow-lg">
            <li class="list-group-item active" aria-current="true">Notre équipe</li>
            <li class="list-group-item"><i class="bi bi-file-earmark-person"></i>Nom</li>
            <li class="list-group-item"><i class="bi bi-file-earmark-person"></i>Nom</li>
            <li class="list-group-item"><i class="bi bi-file-earmark-person"></i>Nom</li>
            <li class="list-group-item"><i class="bi bi-file-earmark-person"></i>Nom</li>
            <li class="list-group-item"><i class="bi bi-file-earmark-person"></i>Nom</li>
            <li class="list-group-item"><i class="bi bi-file-earmark-person"></i>Nom</li>
            <li class="list-group-item"><i class="bi bi-file-earmark-person"></i>Nom</li>
            <li class="list-group-item"><i class="bi bi-file-earmark-person"></i>Nom</li>
        </ul>
    </div>
{% endblock %}