{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}

    <div class="container text-center pt-5 w-25 d-grid gap-3">

        <h2 class="border-bottom p-2">Administration</h2>

        <button class="btn btn-primary">Évènements</button>
        <button class="btn btn-primary">Projets</button>
        <button class="btn btn-primary">Utilisateurs</button>

    </div>

{% endblock %}
