{# templates/admin/my-custom-page.html.twig #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Administration{% endblock %}
{% block page_actions %}
    <a class="btn btn-primary" href="{{path('homepage') }}">Back to website</a>
{% endblock %}

{% block main %}
    <table class="datagrid">
        <thead>
        <tr>
            <td></td>
            <td></td>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
{% endblock %}