{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet"/>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous"/>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">

    <style>
        #scroll-top-button {
            border-radius: 20px;
            background-color: white;
            position: fixed;
            bottom: 15px;
            right: 15px;
            font-size: 1.3rem;
            cursor: pointer;
        }

        #scroll-top-button:hover {
            background-color: #d9d9d9;
        }

        * {
            box-sizing: border-box;
        }
        .admin-main-container {
            display: flex;
            flex-direction: row;
        }

        .admin-side-panel-container {
            display: flex;
            flex-basis: 20%;
            justify-content: center;
            align-items: flex-start;
        }

        .admin-side-panel-sub-container {
            padding: 1rem;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            margin: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: stretch;
        }

        .admin-side-panel-sub-container:hover {
            box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
            transition: .1s ease-in-out;
        }

        .admin-side-panel-sub-container > img {
            max-width: 100%;
            padding: 1rem;
            border-bottom: 1px solid #364C64;
        }

        .admin-side-panel-sub-container > a {
            margin: .3rem;
            padding: .5rem;
        }

        .admin-content-container {
            flex-basis: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .admin-full-container {
            padding: 1rem;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            width: 100%;
            margin: 2rem 2rem 2rem 0;
        }

        .admin-full-container > h3 {
            text-align: center;
            font-size: 3rem;
        }

        .clubs-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: flex-start;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="admin-main-container">
        <div class="admin-side-panel-container">
            <div class="admin-side-panel-sub-container">
                <img src="{{ asset('second_ver_assets/assets/img/logolh.png') }}" alt="">
                <div class="text-center mt-2 mb-2">Admin Space</div>
                <a class="btn btn-success" href="#">Nouvel événement</a>
                <a class="btn btn-success" href="#">Nouveau projet</a>
                <a class="btn btn-success" href="#">Nouveau club</a>
                <a class="btn btn-primary" href="{{ path('homepageredirection') }}">Retour sur le site</a>
                <a class="btn btn-danger" href="{{ path('logout') }}">Déconnexion</a>
            </div>
        </div>
        <div class="admin-content-container">
            <div class="admin-full-container">
                <h3>Statistiques</h3>
                <div class="clubs-container">

                </div>

            </div>
        </div>
    </div>

    <button onclick="topFunction()" id="scroll-top-button" title="Go to top"><i class="bi bi-arrow-up"></i></button>


    <script>
    mybutton = document.getElementById("scroll-top-button");

    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }

    function topFunction() {
      document.body.scrollTop = 0; // For Safari
      document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }
    </script>
{% endblock %}
