{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}

    <div class="container text-center pt-5 w-25 d-grid gap-3">
        <h2 class="border-bottom p-2">Administration</h2>
        <a href="{{ path('admin_event_index') }}" class="btn btn-primary">Évènements</a>
        <a href="{{ path('admin_project_index') }}" class="btn btn-primary">Projets</a>
        <a href="#" class="btn btn-primary">Articles</a>
        <a href="#" class="btn btn-primary">Utilisateurs</a>
    </div>

{% endblock %}
