<div class="admin-side-panel-logo">
  <img class="user-dashboard-logo"
       src="{{ asset('second_ver_assets/assets/img/logolh.png') }}"
       alt=""/>
</div>
<div class="admin-side-panel-menu">
  <ul class="admin-side-panel-menu-account">
    <a href="#" class="btn btn-success">
      Proposer un nouveau projet
    </a>
    <a href="#" class="btn btn-success">
      Proposer un nouvel événément
    </a>
    <a class="btn btn-primary" href="#">
      <li>Mon compte</li>
    </a>
    <a class="btn btn-primary" href="{{ path('homepage') }}">
      <li>Retour sur le site</li>
    </a>
    <a class="btn btn-danger" href="{{ path('logout') }}">
      <li>Déconnexion {{ username }}</li>
    </a>
  </ul>
</div>