email:
    path: /email
    controller: App\Controller\MailerController::sendEmail

confidentialite:
    path: /confidentialite
    controller: App\Controller\HomePageController::rgpd

login:
    path: /login
    controller: App\Controller\LoginController::index

admin:
    path: /admin
    controller: App\Controller\Admin\DashboardController::index

logout:
    path: /logout
    controller: App\Controller\LoginController::logout

homepage:
    path: /{_locale}
    controller: App\Controller\HomePageController::index

homepageredirection:
    path: /
    controller: Symfony\Bundle\FrameworkBundle\Controller\RedirectController::urlRedirectAction
    defaults:
        path: /fr
        permanent: true