{% extends 'base.html.twig' %}

{% block title %} Espace Membre LH {% endblock %}

{% block stylesheets %}
    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet"
    />

    <style>
        body {
            padding: 0;
            margin: 0;
            font-family: "Nunito", sans-serif;
        }

        .user-dashboard-container {
            width: 70%;
            margin: 0 auto;
            display: flex;
            align-items: center;
        }

        .user-dashboard-logo-container {
            flex: 1 1 auto;
            padding: 1rem;
            text-align: center;
        }

        .user-dashboard-nav {
            flex: 4 1 auto;
            padding: 1rem;
        }

        .user-dashboard-logo {
            max-width: 100%;
            height: 35px;
            object-fit: cover;
        }

        /*Nav*/
        .url-user-dashboard {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        .url-user-dashboard > li {
            list-style: none;
        }

        .url-user-dashboard > li > a {
            text-decoration: none;
            color: #013289;
            margin: 0 1rem;
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .url-user-dashboard > li > a > svg {
            margin-right: 5px;
        }

        .url-user-dashboard > li > a:hover {
            color: #4154f1;
            transition: ease-in-out;
        }

        /*Connected as*/
        .connected-as-user {
            color: #013289;
        }

        .username-user-dashboard {
            color: #51B868;
        }

        .disconnect-user-dashboard {
            padding: 6px;
            background: #fff6f6;
            border-radius: 12px;
            color: #DC3545;
        }

        .disconnect-user-dashboard:hover {
            padding: 6px;
            background: #DC3545;
            border-radius: 12px;
            color: white;
            transition: ease-in-out;
        }

        @media (max-width: 1421px) {
            .user-dashboard-container {
                flex-direction: column;
            }
        }

        @media (max-width: 1071px) {
            .user-dashboard-container {
                flex-direction: column;
            }

            .user-dashboard-container {
                width: 100%;
            }
        }

        @media (max-width: 440px) {
            .user-dashboard-container {
                flex-direction: column;
            }

            .url-user-dashboard {
                flex-direction: column;
            }
        }


    </style>
{% endblock %}

{% block body %}

    <div class="user-dashboard-container">
        <div class="user-dashboard-logo-container"><img class="user-dashboard-logo"
                                                        src="{{ asset('second_ver_assets/assets/img/logolh.png') }}"
                                                        alt=""></div>
        <nav class="user-dashboard-nav">
            <ul class="url-user-dashboard">
                <li>
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-house" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                            <path fill-rule="evenodd"
                                  d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                        </svg>
                        Retour au site</a>
                </li>
                <li>
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-book" viewBox="0 0 16 16">
                            <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                        </svg>
                        Annuaire</a>
                </li>
                <li>
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-person-square" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12z"/>
                        </svg>
                        Mon Compte</a>
                </li>
                <li class="connected-as-user">
                    Connecté : <span class="username-user-dashboard">{{ username }}</span>
                </li>
                <li>
                    <a href="{{ path('logout') }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-x-lg disconnect-user-dashboard" viewBox="0 0 16 16">
                            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                        </svg>
                    </a>
                </li>
            </ul>
        </nav>

        <div>

        </div>
    </div>

{% endblock %}
