html, body {
    height: 100%;
}

body {
    min-height: 100vh;
}

footer {
    margin-top: 10%;
}

.article-card-hover:hover {
    background-color: #edf4fd;
    transition: .2s ease-in-out;
}

/*custom cards projects css*/

@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,300,800);
figure.snip0015 {
    font-family: 'Raleway', Arial, sans-serif;
    color: #fff;
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 220px;
    max-width: 310px;
    max-height: 220px;
    width: 100%;
    background: #000000;
    text-align: center;
}

figure.snip0015 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

figure.snip0015 img {
    opacity: 1;
    width: 100%;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.snip0015 figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 3em 3em;
    width: 100%;
    height: 100%;
}

figure.snip0015 figcaption::before {
    position: absolute;
    top: 50%;
    right: 30px;
    bottom: 50%;
    left: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    content: '';
    opacity: 0;
    background-color: #ffffff;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
}

figure.snip0015 h2,
figure.snip0015 p {
    margin: 0 0 5px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, -webkit-transform 0.35s, -moz-transform 0.35s, -o-transform 0.35s, transform 0.35s;
}

figure.snip0015 h2 {
    word-spacing: -0.15em;
    font-weight: 300;
    text-transform: uppercase;
    -webkit-transform: translate3d(0%, 50%, 0);
    transform: translate3d(0%, 50%, 0);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

figure.snip0015 h2 span {
    font-weight: 800;
}

figure.snip0015 p {
    font-weight: 200;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

figure.snip0015 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    color: #ffffff;
}

figure.snip0015:hover img {
    opacity: 0.35;
}

figure.snip0015:hover figcaption h2 {
    opacity: 1;
    -webkit-transform: translate3d(0%, 0%, 0);
    transform: translate3d(0%, 0%, 0);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

figure.snip0015:hover figcaption p {
    opacity: 0.9;
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
}

figure.snip0015:hover figcaption::before {
    background: rgba(255, 255, 255, 0);
    top: 30px;
    bottom: 30px;
    opacity: 1;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

/*media queries and responsive*/

/*NAVBAR*/

.bi-list {
    font-size: 1.5em;
    display: none;
}

/*less or equal to 428px*/
@media (max-width: 428px) {
    .responsive-svg-navbar {
        display: none;
    }

    .responsive-header {
        flex-direction: column;
    }

    .responsive-ul-navbar {
        flex-direction: column;
    }

    footer {
        position: static !important;
    }

    /*hiding regular nav on small screens*/
    .responsive-wide-nav {
        display: none !important;
    }

    .responsive-wide-nav-ul {
        display: none !important;
    }

    /*initial small nav display*/
    .responsive-small-nav-ul {
        display: none;
    }

    .bi-list {
        font-size: 1.5em;
        display: inline-block;
        cursor: pointer;
    }
}

@media (min-width: 429px) {
    .responsive-title-small {
        display: none !important;
    }

    .responsive-hamburger {
        display: none !important;
    }

    .responsive-small-nav-ul {
        display: none !important;
    }
}

/*HOMEPAGE*/
@media (max-width: 428px) {
    .responsive-container-card-articles {
        padding-right: 0 !important;
        padding-left: 0 !important;
        max-height: 100% !important;
    }
}

@media (max-width: 428px) {
    .responsive-homepage-introduction {
        padding-top: 0 !important;
        margin-top: 0 !important;
    }

    .responsive-homepage-buttons {
        margin-bottom: 1rem !important;
    }
}


/*LOGIN*/
@media (max-width: 428px) {
    .responsive-container-login {
        width: 90% !important;
    }
}

/*ADMINISTRATION PAGE*/
@media (max-width: 428px) {
    .responsive-administration-page {
        padding-top: 0 !important;
        gap: .5rem;
        width: 90% !important;
    }
}

/*WHO ARE WE*/
@media (max-width: 428px) {
    .responsive-who-container {
        padding-top: 0 !important;
        width: 90% !important;
    }
}

/*FAQ*/
@media (max-width: 428px) {
    .responsive-faq-container {
        padding-top: 0 !important;
        width: 90% !important;
    }
}

